<div class="w3-center">


  <h1>New User</h1>

  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

  <%= render 'form', user: @user %>

  <%= link_to 'Back', users_path %>

</div>
